{% extends "layout.twig" %}

{% block content %}
    <h1 class="page-title">{{ test.getName() }}</h1>
    <form action="/test/{{ testId }}/submit" method="post" id="testForm">
        {% for question in questions %}
            <div class="question" style="display: none;">
                <h3>{{ question.getText() }}</h3>
                <div class="options-group">
                    {% for option in question.getOptions() %}
                        <button type="button" class="option-button" data-value="{{ option.getId() }}">
                            {{ option.getText() }}
                        </button>
                    {% endfor %}
                    <input type="hidden" name="answers[{{ question.getId() }}]" value="">
                </div>
            </div>
        {% endfor %}
        <div class="progress-wrapper">
            <div class="progress-bar">
                <div class="progress-filled"></div>
            </div>
            <div class="progress-text">1/{{ questions|length }}</div>
        </div>
    </form>

    <script>
        const questions = document.querySelectorAll('.question');
        const testForm = document.getElementById('testForm'); // Reference to the form

        // Show the first question
        questions[0].style.display = 'block';

        // Get progress bar filled div
        const progressBar = document.querySelector('.progress-filled');
        const progressText = document.querySelector('.progress-text');

        questions.forEach((question, index) => {
            const options = question.querySelectorAll('.option-button');
            const hiddenInput = question.querySelector('input[type="hidden"]');
            options.forEach(option => {
                option.addEventListener('click', () => {
                    hiddenInput.value = option.getAttribute('data-value');
                    question.style.display = 'none';

                    // If it's the last question, submit the form
                    if (index === questions.length - 1) {
                        testForm.submit();
                    } else {
                        questions[index + 1].style.display = 'block';
                    }

                    // Update progress bar
                    let progressPercent = ((index + 1) / questions.length) * 100;
                    progressBar.style.width = `${progressPercent}%`;

                    // Update progress bar text
                    progressText.textContent = `${index + 2}/${questions.length}`; // +2 because index starts from 0 and we've already displayed the first question.

                    // If it's the last question, we need to adjust the progress text back by one
                    if (index === questions.length - 1) {
                        progressText.textContent = `${index + 1}/${questions.length}`;
                    }
                });
            });
        });
    </script>
{% endblock %}